body {
    margin: 0;
    color: dimgray;
    font-family: sans-serif;
    background-color: rgb(208, 255, 239);
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > div {
    margin-bottom: 50px;
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

p {
    margin: 0;
}

.genius {
    display: grid;
    grid-template-areas: 'green red' 'yellow blue';
    grid-gap: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
    -webkit-tap-highlight-color: transparent;
}

.genius .green {
    grid-area: green;
    background-color: green;
    border-top-left-radius: 100%;
    cursor: pointer;
}

.genius .red {
    grid-area: red;
    background-color: red;
    border-top-right-radius: 100%;
    cursor: pointer;
}

.genius .yellow {
    grid-area: yellow;
    background-color: yellow;
    border-bottom-left-radius: 100%;
    cursor: pointer;
}

.genius .blue {
    grid-area: blue;
    background-color: blue;
    border-bottom-right-radius: 100%;
    cursor: pointer;
}

.selected {
    opacity: 0.5;
}

@media (max-width: 800px) {
    .genius {
        width: 80%;
        height: 500px;
    }
}

@media (max-width: 500px) {
    .genius {
        height: 400px;
    }
}